body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #a791f0 0%,#9abcff 50%,#d9daf0 100%);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 10px auto;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  width: 100px;
}

.game-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5vh;
  left: 40vw;
}

.game-board {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board-clear-button {
  margin-top: 10px;
  padding: 0;
  width: 99px;
  height: 33px;
  border-radius: 5px;
  border: none;
}

.game-victory {
  margin-bottom: 50px;
  width: 20vw;
}

@media (max-width: 768px) {
  .game-container {
    left: 30vw;
  }

  .game-victory {
    width: 40vw;
  }
}